.grid-content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__image {
    content: url("../../assets/images/image-web-3-desktop.jpg");
    height: 305px;
    width: 100%;

    @media screen and (max-width: 600px) {
      content: url("../../assets/images/image-web-3-mobile.jpg");
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1.1fr 1fr;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__title {
    font-size: 56px;
    color: var(--very-dark-blue);
    line-height: 56px;

    @media screen and (max-width: 600px) {
      font-size: 46px;
      font-weight: 900;
    }
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__description {
    font-size: 15px;
    color: var(--dark-grayish-blue);
    line-height: 24px;
  }

  &__button {
    background-color: var(--soft-red);
    border: none;
    width: 50%;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding: 15px 19px;
    color: var(--off-white);
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: var(--very-dark-blue);
    }

    @media screen and (max-width: 600px) {
      font-weight: 400;
    }
  }
}
