.article {
  display: flex;
  gap: 20px;

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__number {
    color: var(--grayish-blue);
    font-size: 32px;
    font-weight: 800;
  }

  &__image {
    width: 110px;
    height: 120px;
  }

  &__title {
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;

    &:hover {
      color: var(--soft-orange);
    }
  }

  &__description {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    line-height: 24px;
  }
}
