@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  // Primary
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  // Neutral
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

body {
  background-color: var(--off-white);
  max-width: 75%;
  margin: auto;
  padding: 80px 0;

  @media screen and (max-width: 600px) {
    max-width: 91%;
    padding: 20px 0;
  }
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

@keyframes startSlide {
  from {
    width: 0%;
  }

  to {
    width: 70%;
  }
}

@keyframes undoSlide {
  from {
    width: 70%;
  }

  to {
    width: 0%;
  }
}
