.new {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-blue);
  padding: 10px 24px 13px 24px;
  justify-content: space-evenly;

  @media screen and (max-width: 600px) {
    padding: 25px 15px;
  }

  &__title {
    color: var(--soft-orange);
    font-size: 37px;
  }

  &__item {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      padding: 25px 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--dark-grayish-blue);
    }

    &:last-child {
      padding-bottom: 0;
    }

    &__title {
      color: var(--off-white);
      font-size: 18px;

      &:hover {
        color: var(--soft-orange);
      }
    }
    &__description {
      color: var(--grayish-blue);
      font-size: 14px;
      line-height: 21px;
      opacity: 70%;
    }
  }
}
